@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Bitter:400,700);
.alfa {
  font-family: 'Alfa Slab One', serif;
}
.bitter {
  font-family: 'Bitter', serif;
}
body {
  background-image: url('../img/white_bed_sheet.png');
  background-position: initial initial;
  background-repeat: initial initial;
  color: #004668;
  font-size: 20px;
  font-family: 'Bitter', serif;
}
#container {
  width: 67%;
  margin: 0px auto;
}
header {
  text-align: center;
}
a {
  color: #00689b;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-border-radius: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover {
  color: #002435;
}
ul {
  list-style: none;
  padding-left: 5px;
}
ul a {
  font-weight: 700;
}
b {
  font-weight: 700;
}
i {
  font-size: 40px;
  padding: 2px 5px 2px 5px;
  text-shadow: 2px 2px 5px #999;
}
#social {
  text-align: center;
}
h1 {
  color: #00131b;
  font-family: 'Alfa Slab One', serif;
  font-size: 400%;
  margin-bottom: 1%;
  letter-spacing: 4px;
}
h2 {
  font-family: 'Alfa Slab One', serif;
  font-size: 150%;
  margin-top: 2%;
  margin-bottom: -2%;
}
footer {
  font-size: 0.8em;
  margin-top: 30px;
}
