@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Bitter:400,700,400italic);


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
  display: block;
}
body{
  line-height: 1;
}
ol, ul{
  list-style: none;
}
blockquote, q{
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
  content: '';
  content: none;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
/* end clear */


/*
  Jane Kim 2012 
  janekim.me
  made with LESS & CSS3 love 
*/
@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Bitter:400,700,400italic);

body{
  background-image: url('http://janekim.me/img/white_bed_sheet.png');
  background-position: initial initial;
  background-repeat: initial initial;
  color: #004668;
  font-family: 'Bitter', Georgia, serif;
}
a{
  color: #00689b;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-border-radius: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover{
  color: #002435;
}
b,strong{
  font-weight: 700;
}
/* social icons*/ 
i{
  font-size: 24px;
  text-shadow: 2px 2px 5px #999;
}
ul{
  list-style: disc;
}

#container{
  font-size: 14px;
  line-height: 110%;
  margin: 0px auto;
  width: 70%;
}

#header{
  margin: 40px 0 30px 0;
}
#title a{
  color: #00131b;
  font-family: 'Alfa Slab One', Georgia, serif;
  font-size: 400%;
  text-shadow: 2px 2px 5px #999;
}
#description{
  font-size: 125%;
  margin-top: 3%;
}

ul#posts{
  list-style: none;
}
.post{
  border-bottom: 1px solid #ccc;
  margin: 20px 0 20px 0;
}
h2{
  font-size: 140%;
  font-weight: 700;
  margin-bottom: 20px;
}

.caption{
  margin: 10px;
}

.object{
    margin: 10px 0 10px 0;
}

h2 .link{
  font-size: 125%;
  font-weight: 400;
  margin-bottom: 10px;
}

/* QUOTE */
.short:before, .medium:before, .long:before, 
.short:after, .medium:after, .long:after {
  content: "''";
}
.short {
  font-size: 300%;
  line-height: 110%;
  margin-bottom: 10px;
} 
.medium {
  font-size: 200%; 
  line-height: 115%;
  margin-bottom: 10px;
} 
.long {
  font-size: 150%; 
  line-height: 120%;
  margin-bottom: 10px;
}

.info{
  margin: 10px 0 10px 0;
  text-align: right;
}

#search{
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: 10px;
  color: #e1e1e1;
  text-align: left;
}
form .submit{
  height: 0;
  overflow: hidden;
  display: block;
}
#credits{
    font-size: 85%;
}