@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Bitter:400,700,400italic);
/*
    Jane Kim 2012 
  janekim.me
  made with LESS & CSS3 love 
*/

body {
  background-image: url('//janekim.me/img/white_bed_sheet.png');
  background-position: initial initial;
  background-repeat: initial initial;
  color: #004668;
  font-size: 13px;
  font-family: 'Bitter', Georgia, serif;
}
#container {
  width: 95%;
  margin: 0px auto;
}
header {
  text-align: center;
}
a {
  color: #00689b;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-border-radius: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover {
  color: #002435;
}
ul {
  list-style: none;
  padding-left: 5px;
}
ul a {
  font-weight: 700;
}
b {
  font-weight: 700;
}
i {
  font-size: 24px;
    text-shadow: 2px 2px 5px #999;
}
#about {
}
#about a {
  font-size: 110%;
  font-weight: 700;
}
h1 {
  color: #00131b;
  font-family: 'Alfa Slab One', Georgia, serif;
  font-size: 400%;
  margin-bottom: -20px;

}
h1 a{
      color: #00131b;

}
h2 {
  font-family: 'Alfa Slab One', Georgia, serif;
  font-size: 150%;
  margin-top: 2%;
  margin-bottom: -2%;
}
#footer {
    position:fixed; 
    bottom:0; 
    right: 0;
    margin:0; 
    padding:10px 10px 5px 10px;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255) transparent;
  /* RGBa */
  background: rgba(255, 255, 255, 0.45);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#BF000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=white, endColorstr=white)";
    text-align:center;
    -o-box-shadow: 2px 3px 15px #888;
    -icab-box-shadow: 2px 3px 15px #888;
    -khtml-box-shadow: 2px 3px 15px #888;
    -moz-box-shadow: 2px 3px 10px #888;
    -webkit-box-shadow: 2px 3px 15px #888;
    box-shadow: 2px 3px 15px #888;
    }