<head>
<title>Making Gorp</title>
<link href="../style.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript">
<!--
function prompter() {
alert("Nice to see you there! What do you like in your gorp?")
var ingredient1= prompt("Ingredient 1")
var ingredient2= prompt("Ingredient 2")
var ingredient3= prompt("Ingredient 3")
var ingredient4= prompt("Ingredient 4")
var ingredient5= prompt("Ingredient 5")
var ingredient6= prompt("Ingredient 6")

alert ( "Great! In your gorp you have " + ingredient1 + ", "  + ingredient2 + ", "  + ingredient3 + ", "  + ingredient4 + ", "  + ingredient5 + ", and " + ingredient6 + ".")
var a=Math.floor(Math.random()*25)
var b=Math.floor(Math.random()*25)
var c=Math.floor(Math.random()*25)
var d=Math.floor(Math.random()*25)
var e=Math.floor(Math.random()*25)
var f=Math.floor(Math.random()*25)
alert("Now shove your hand in the bag and ssee what you get.")
alert ("In your hand you have " + a + " pieces of " + ingredient1 + ", " + b + " pieces of " + ingredient2 + ", "  + c + " pieces of " + ingredient3 + ", "  + d + " pieces of "  + ingredient4 + ", "  + e + " pieces of "  + ingredient5 + ", and "  + f + " pieces of "  + ingredient6 + ". \n OMNOMNOMNOM")


}
//-->
</script>
</head>
<body>
<H1>GORP</H1>
<h2>good old raisins and peanuts</h2>
<h2>granola oats raisins and peanuts</h2>

<p>Now that you know all about gorp, let's put our new knowledge to use.<br>
Go ahead and click the button to start!</p>
<input type="button" onclick="prompter()" value="Let's make some gorp, y'all">
<bR><br><br>

made by <a href="index.html">Jane Kim</a> for her COOP application</body>
