<p>
    My name is Jane Kim and I am a <b>web developer</b>. I like to make things <b>pretty and functional</b>. I'm a computer science major at <a href="http://www.columbia.edu" title="Columbia University" target="_blank">Columbia University</a>, set to graduate in May 2014. Last spring, I studied abroad in beautiful Sverige at <a href="http://www.uu.se/en" title="Uppsala University">Uppsala Universitet</a>.
</p>
<p>
    At school, I <a href="http://www.youtube.com/watch?v=s_IyYeG7vmE" target="_blank">sing</a> with <a href="http://uptownvocal.com" title="Uptown Vocal">Uptown Vocal</a> and am involved with <a href="http://adicu.com/" title="Application Development Initiative" target="_blank">ADI</a> and <a href="http://www.cs.columbia.edu/wics/" title="WICS" target="_blank">Women in CS</a>.
</p>
<p>
    I'm currently working at <a href="http://lover.ly" title="Lover.ly" target="_blank">Lover.ly</a> and looking for full-time offers for post-grad.
</p>
<p>
    Email: <b>jane</b><i>at</i><b>janekim</b><i>dot</i><b>me</b></a></p>
</p>