<div class="portfolio-div">
    <ul class="portfolio">
        <li>
            <a href="http://uptownvocal.com">
                <img src="../img/uv.png">
                <p>Uptown Vocal</p>
            </a>
        </li>
        <li>
            <a href="http://www.cs.columbia.edu/wics/">
                <img src="../img/wics.png">
                <p>WiCS</p>
            </a>
        </li>
        <li>
            <a href="https://github.com/brishin/mixr">
                <img src="../img/logosplash.png">
                <p>Jubble</p>
            </a>
        </li>
        <li>
            <a href="http://istodayajewishholiday.com/">
                <img src="../img/itajh.png">
                <p>istodayajewishholiday.com</p>
            </a>
        </li>
    </ul>
</div>