<nav>
  <ul>
    <li class="nav-item">
      <a href="//github.com/janecakemaster">
        <svg data-label="gh/janecakemaster" class="icon icon-github-square"><use xlink:href="#icon-github-square"></use></svg>
      </a>
    </li>
    <li class="nav-item">
      <a href="//twitter.com/janecakemaster">
        <svg data-label="@janecakemaster" class="icon icon-twitter-square"><use xlink:href="#icon-twitter-square"></use></svg>
      </a>
    </li>
    <li class="nav-item">
      <a href="//vimeo.com/jane">
        <svg data-label="jane@vimeo" class="icon icon-vimeo-square"><use xlink:href="#icon-vimeo-square"></use></svg>
      </a>
    </li>
    <li class="nav-item">
      <a href="mailto:jane@janekim.me">
        <svg data-label="jane@" class="icon icon-envelope-square"><use xlink:href="#icon-envelope-square"></use></svg>
      </a>
    </li>
    {{!-- <li class="nav-item">
      <a href="resume">
        <svg data-label="resume" class="icon icon-pencil-square"><use xlink:href="#icon-pencil-square"></use></svg>
      </a>
    </li> --}}
  </ul>
  <div class="label"></div>
</nav>
