<p>
    My name is Jane Kim and I am a computer science major at <a href="http://www.columbia.edu" target="_blank">Columbia University</a>, set to graduate in May 2014.
    At school, I <a href="http://www.youtube.com/watch?v=s_IyYeG7vmE" target="_blank">sing</a> and get involved with <a href="http://adicu.com/" target="_blank">ADI</a> and <a href="http://www.cs.columbia.edu/wics/" target="_blank">Women in CS</a>.
    I'm currently working at <a href="http://lover.ly" target="_blank">Lover.ly</a> (NYC).
    Email: jane at janekim dot me</a>
</p>