h1 {
    color: $red;
    font-family: "Source Sans Pro", "Helvetica", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

h2, h3, h4 {
    font-weight: 700;
}

h2 {
    color: $blue;
    font-size: 1.4rem;
}

h3 {
    color: $red;
    font-size: 1.4rem;
}

time {
    color: $blue;
}
