// Mixins
//-----------------------------


// Animations
//-----------------------------

.throw-shade {
  @include animation-name(throw-shade);
  @include animation-duration(1s);
  visibility: visible !important;
}

@include keyframes(throw-shade) {
  0% {
    top: -16px;
    left: -16px;
    text-shadow: 0 0 1px $red, 1px 1px $red, 2px 2px $red, 3px 3px $red, 4px 4px $red, 5px 5px $red, 6px 6px $red, 7px 7px $red, 8px 8px $red, 9px 9px $red, 10px 10px $red, 11px 11px $red, 12px 12px $red, 13px 13px $red, 14px 14px $red, 15px 15px $red, 16px 16px $red;
  }

  50% {
    top: 0;
    left: 0;
    text-shadow: 0 0 0 $red;
  }

  75% {
    top: -8px;
    left: -8px;
    text-shadow: 0 0 1px $red, 1px 1px $red, 2px 2px $red, 3px 3px $red, 4px 4px $red, 5px 5px $red, 6px 6px $red, 7px 7px $red, 8px 8px $red;

  }

  100% {
    top: -4px;
    left: -4px;
    text-shadow: 0 0 1px $red, 1px 1px $red, 2px 2px $red, 3px 3px $red, 4px 4px $red;
  }

}

// .bounce {
//   @include animation-name(bounce);
//   @include animation-duration(1.5s);
//   @include animation-iteration-count(ease);
//   @include transform-origin(50% 100%);
// }

// @include keyframes(bounce) {

//   0% {
//     @include transform(translateY(0%) scaleY(0.6));
//   }
//   60%{
//     @include transform(translateY(-100%) scaleY(1.1));
//   }
//   70%{
//     @include transform(translateY(0%) scaleY(0.95) scaleX(1.05));
//   }
//   80%{
//     @include transform(translateY(0%) scaleY(1.05) scaleX(1));
//   }
//   90%{
//     @include transform(translateY(0%) scaleY(0.95) scaleX(1));
//   }
//   100%{
//     @include transform(translateY(0%) scaleY(1) scaleX(1));
//   }
// }
